<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>ScenarioEd - {% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}
    <link href="{{ asset('bundles/framework/css/exception_layout.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/framework/css/exception.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/formatter.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
  </head>

  <body>
    <div id="header">
      {% block header %}
        <a href="{{ url('homepage') }}" id="title"><h1>ScenarioEd</h1></a> | 
        Organizations | 
       <a href="{{ url('project') }}">Projects</a> | 
       <a href="{{ url('help') }}">Help</a>
       <span class="auth">
            {% if not app.user %}
                <a href="{{ url('fos_user_registration_register') }}">Register</a> | 
                <a href="{{ url('fos_user_security_login') }}">Log in</a>
            {% else %}
                <a href="{{  url('fos_user_security_logout') }}">Log out</a>
            {% endif  %}
       </span>
                

       {% endblock %}	
    </div>

 
    <div id="content">
        {% for type, flashMessages in app.session.flashbag.all() %}
            {% for flashMessage in flashMessages %}
                <div class="flash {{ type }}">
                    {{ flashMessage }}
                </div>
            {% endfor %}
        {% endfor %}
      {% block body %}
      {% endblock %}
    </div>

    {% block javascripts %}{% endblock %}
  </body>
</html>
