{% extends "::base.html.twig" %}
    {% block title %}Create a New Project{% endblock %}

    {% block body %}
        <h1>{{ block('title') }}</h1>
        <a href="{{ path('project') }}" class="action back">&larr; Project List</a>
        <form action="{{ path('project_create') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
                <button type="submit" class="action create">Create</button>
        </form>

      {% endblock %}
