{% extends "::base.html.twig" %}
   {% block title %}Project: {{ entity.projectname}}{% endblock %}

   {% block body %}
     <h1><span class="prepend">Project: </span>{{ entity.projectname }}</h1>
            <a href="{{ path('project_edit', { 'id': entity.id }) }}" class="action edit">Edit Project</a> 
            <a href="{{ path('project') }}" class="action back">&larr; Project list</a> 
     <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Repository</th>
                <td>{{ entity.repositoryuri }}</td>
            </tr>
            <tr>
                <th>Features</th>
                <td>
                    <ul>
                        {% for feature in features %}
                        <li>
                <a href="{{ path('project_feature_show', {'project_id': entity.id, 'file': feature.file }) }}">
                                Feature: {{ feature.title }}
                            </a>
                            <ul>
                                {% for scenario in feature.scenarios %}
                                    <li>Scenario: {{ scenario.title }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
            <a href="{{ path('project_feature_new', { 'project_id': entity.id }) }}" class="action create">+ Create new feature</a>
            <form action="{{ path('project_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit" class="action delete">Delete</button>
            </form>
{% endblock %}
