{% extends "::base.html.twig" %}
    {% block title %}Feature: {{ feature.title }}{% endblock %}

    {% block body %}
      
        <h2>Do you really want to delete {{ feature.title }}?</h2>
        <p>Path: {{ feature.file }}</p>
        <form action="{{ path('project_feature_delete', { 'project_id': project.id, 'file': feature.file, 'confirm': 'true' }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="action delete">Yes</button>
        </form>
        <a href="{{ path('project_feature_show', { 'project_id': project.id, 'file': feature.file }) }}" class="action abandon">&larr; No</a>
        <h1><span class="prepend">Feature: </span> {{ feature.title }}</h1>
          <table class="record_properties">
            <tbody>
                <tr>
                  <th>Scenarios</th>
                      <td>
                          <ul>
                              {% for scenario in feature.scenarios %}
                                  <li>Scenario: {{ scenario.title }}</li>
                                  <ul>
                                      {% for step in scenario.steps %}
                                          <li>{{ step.type }} {{ step.text }}</li>
                                      {% endfor %}
                                  </ul>
                              {% endfor %}
                          </ul>
                      </td>
                  </tr>
              </tbody>
          </table>


{% endblock %}
