{% extends "::base.html.twig" %}
    {% block title %}Feature: {{ feature.title }}{% endblock %}


    {% block body %}
       <a href="{{ path('project_show', {'id': project.id}) }}" class="action back">&larr; Project</a> 
      <h1><span class="prepend">Feature: </span>{{ feature.title }}</h1>
          <table class="record_properties">
            <tbody>
                <tr>
                  <th>Scenarios</th>
                      <td>
                          <ul>
                              {% for scenario in feature.scenarios %}
                                  <li>Scenario: {{ scenario.title }}</li>
                                  <ul>
                                      {% for step in scenario.steps %}
                                          <li>{{ step.type }} {{ step.text }}</li>
                                      {% endfor %}
                                  </ul>
                              {% endfor %}
                          </ul>
                      </td>
                  </tr>
              </tbody>
          </table>

        <form action="{{ path('project_feature_run', { 'project_id': project.id, 'feature': feature.file }) }}" method="post">
            <button type="submit" class="action run">Run</button>
        </form>
           <a href="{{ path('project_feature_edit', { 'project_id': project.id, 'file': feature.file }) }}" class="action edit">Edit</a>
          <form action="{{ path('project_feature_delete', { 'project_id': project.id, 'file': feature.file }) }}" method="post">
               {{ form_widget(delete_form) }}
                   <button type="submit" class="action delete">Delete</button>
          </form>
{% endblock %}
